{% extends 'base.html' %}
{% block content %}
<div id="form">
    <form action="" method="post">
        <label for="name_set">Nazwa zestawu</label>
        <input type="text" name="name_set">
        <label for="description">Opis</label>
        <input type="text" name="description" id="">
        <label for="name_set">Zdjęcie dla zestawu</label>
        <input type="file" name="file">
        {% if error%}
        <div id="error">
            {{error}}
        </div>
        {% endif %}
        <div id="box_form">

            <label for="concept">Pojęcie</label>
            <input type="text" name="concept" id="">
            <label for="definition">Definicja</label>
            <input type="text" name="definition" id="">
            <label for="example">Obrazek</label>
            <input type="file" name="file">


        </div>
        <input type="button" value="Dodaj" onclick="add_input()">
        <input type="submit" value="Zapisz">
    </form>
</div>

{% endblock %}